<h1>Seat Yourself</h1>
<% @restaurants.each do |restaurant| %>
	<p> <%= picture[:name] %>, <%= restaurant[:address] %>, <%= restaurant[:category] %>, <%= restaurant[:summary][0..30] %> </p> <% end %>
